@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #5757ff;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    height: 105vh;
    box-shadow: 10px 0px 2px rgb(238, 238, 238);
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
}

main {
    display: flex;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
}

.secao-principal {
    display: flex;
    padding-top: 40px;
}

.formulario {
    margin: auto;
    background-color: #d4d4ff;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid #6246ea;
    box-shadow: 10px 10px 3px lightgray;
}

form {
    padding: 10px 0px;
    background-color: #d4d4ff;
}

h2 {
    text-align: center;
    margin: 20px;
}

.pessoa-juridica-fisica {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.juridica-fisica {
    border: 1px solid #6246ea;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    border-bottom: 1px solid #d4d4ff;
    margin-bottom: -1px;
    font-weight: bold;
}

.fisica {
    color: #6246ea;
}

.juridica {
    border-bottom: 1px solid #6246ea;
    text-decoration: none;
    color: #6246ea;
}

.juridica:hover {
    background-color: #b2b2df;
    color: white;
}

.separador {
    width: 100%;
    background-color: #6246ea;
    height: 1px;
}

.nome-telefone-cpf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cpf-telefone {
    display: flex;
    gap: 10px;
}

.nome {
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(34, 255, 0); */

}

.cpf, .telefone {
    display: flex;
    flex-direction: column;
}

.imagem-perfil {
    width: 12vw;
    border-radius: 10px;
    margin-right: 80px;
    margin-bottom: -80px;
    margin-top: 10px;
    height: 22vh;
    border: 1px solid #6246ea;
}

.imagem-perfil img {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.div1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.div2 {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.div2 input {
    width: 45%;
}

.div3 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.div4 {
    display: flex;
    padding: 0 10px;
    width: 100%;
}

.div4 .email input {
    width: 100%;
    justify-content: space-between;

}

.email-senha-confirmarsenha {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.senha-confirmarsenha {
    display: flex;
    gap: 10px;
}

.email, .senha, .confirmarsenha {
    display: flex;
    flex-direction: column;
}

.estado-cep-bairro-numero {
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
  
.estado-cep, .bairro-numero {
    display: flex;
    gap: 10px; 
}
  
.estado, .cep, .bairro, .numero {
    display: flex;
    flex-direction: column;
    flex: 1;  
  
}
  
.estado, .numero {
    flex: 1;
}

.bairro, .cep {
    flex: 2;
}

input {
    width: 100%;  
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

.endereco-complemento-cidade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.complemento-cidade {
    display: flex;
    gap: 10px;
}

.endereco, .complemento, .cidade {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.avancar-cancelar {
    display: flex;
    flex-grow: none;
    margin-top: 80px;
    margin-left: 240px;
    gap: 10px;
}

.avancar-cancelar button, .avancar-cancelar a {
    border: none;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px 12px;
}

.avancar-cancelar button {
    background-color: #62e428;
}

.avancar-cancelar a {
    background-color: #e45858;
}

.avancar-cancelar button:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

.salvar-cancelar button:hover, .salvar-cancelar a:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.epc {
    height: 20vh;
}

.sair:hover {
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 0.347), transparent);
    color: white;
}

.perfil-configs p {
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.perfil-configs img {
    border-radius: 50%;
    width: 50px;
    border: 3px double white;
}

.header-container h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}