@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #5757ff;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    height: 120vh;
    box-shadow: 10px 0px 2px rgb(238, 238, 238);
    margin-bottom: -10px;
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
}

main {
    display: flex;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
}

.secao-principal {
    display: flex;
    padding-top: 40px;
}

.imagem-perfil {
    width: 12vw;
    border-radius: 10px;
    margin-right: 80px;
    margin-bottom: -80px;
    margin-top: 10px;
    height: 22vh;
    border: 1px solid grey;
}

.imagem-perfil img {
    width: 100%;
    height: 100%;
}

input {
    width: 100%;  /* Faz com que os inputs ocupem todo o espaço disponível dentro do seu contêiner */
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

.listagem-usuarios {
    background-color: #d4d4ff;
    border: 1px solid #5757ff;
    border-radius: 15px;
    width: 75%;
    margin: 20px auto;
    box-shadow: 10px 10px 2px rgb(238, 238, 238);

}

.listagem-usuarios h2 {
    
    padding: 20px;
}

.adicionar-usuario figure {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
    gap: 0px;
}

.adicionar-usuario img {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.adicionar-usuario a {
    text-decoration: none;
}

.adicionar-usuario p {
    color: black;
    font-size: 16px;
}

.adicionar-buscar {
    display: flex;
    justify-content: center;
    height: 35px;
}

.usuario-cards {
    padding: 10px;
}

.user-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px;
}

.nome {
    width: 10vw;
}

.barra-busca form {
    padding: 0px; 
    border-radius: 10px;
    border: 1px solid white;
}

.busca-user {
    border-radius: 0px;
}

.busca-user input {
    border-left: none;
    width: 25vw;
}

.id, .nome {
    font-size: 16px;
    font-weight: bold;
}

.id {
    width: 40px;
}

.user-img {
    width: 70px;
    margin-left: 10px;
}

.card-start, .card-end {
    display: flex;
    gap: 30px;
}

.card-start {
    align-items: center;
}

.card-end {
    width: 100%;
    justify-content: space-between;
}

.pause-view {
    display: flex;
    height: 80%;
    padding: 12px 12px 0px 0px;

}

.pause {
    padding: 0px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #6246ea;
    color: white;
}

.pause:hover {
    cursor: pointer;
}

.perfil-configs p {
    font-size: 16px;
}

select:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.pause:hover {
    filter: brightness(0.9);
}

.epc {
    height: 100px;
}

.sair:hover {
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 0.347), transparent);
    color: white;
}

.perfil-configs p {
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.perfil-configs img {
    border-radius: 50%;
    width: 50px;
    border: 3px double white;
}

.header-container h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}

