@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;

}

h1 {

    text-align: center;
    margin-top: 20px;

}

.redefinir-senha {

    background-color: #d4d4ff;
    box-shadow: 10px 10px 2px lightgray;
    padding: 20px;

}

.login-voltar {
    display: flex;
    justify-content: right;
}

.voltar-login {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.voltar-login:hover {
    color: darkred;
}

main {

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.label-input {

    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    
}

.label-input label {

    font-size: 15px;
    margin: 20px 0px;

}

.label-input input {

    padding: 14px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    border: 1px solid #6246ea;

}

.div-button {

    display: flex;
    flex-direction: column;

}

.div-button button {

    width: 65%;
    margin: 30px auto;
    padding: 10px;
    background-color: #6246ea;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;

}

.div-button button:hover {

    cursor: pointer;
    filter: brightness(0.9);

}

.mensagem-sucesso {
    border-radius: 15px;
    border: 2px solid rgb(123, 206, 123);
    font-weight: bold;
    width: fit-content;
    margin: 20px auto;
    color: lightgreen;
    padding: 10px;
    background-color: green;
    align-items: center;
}

.mensagem-erro {
    border-radius: 15px;
    border: 2px solid #D95454;
    font-weight: bold;
    width: fit-content;
    margin: 20px auto;
    color: red;
    padding: 10px;
    background-color: rgba(110, 0, 0, 0.772);
    align-items: center;
}

.mensagem-erro p, .mensagem-sucesso p {
    display: flex;
    align-items: center;
    gap: 8px;
}