@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;

}

main {
    
    display: flex;
    width: 90%;
    height: 100vh;
    border: 1px solid #6246EA;    
    box-shadow: 18px 0px 0px #e6e6e6;

}

a {

    display: block;
    color: #615555;
    text-decoration: none;

}

a:hover {

    text-decoration: underline;

}

.section-titulo {

    width: 50%;
    border-right: 1px solid #6246EA;   
    padding: 10px;
    background-color: #B2B2DF;
    color: white;

}

.section-login {

    margin: auto;
    width: 40%;
   

}

.section-titulo h1 {

    font-size: 2.4em;
    text-align: center;
    margin-top: 120px;
    margin-left: 70px;
    line-height: 0.75;
    color: black;

}

.h1-span-2 {

    font-size: 0.7em;

}

.inputs {

    display: flex;
    flex-direction: column;
    gap: 40px;

}

.input {

    padding: 15px;
    font-size: 16px;
    border-color: #6246EA;
    border-style: solid;
    border-width: 1px;
}

.esqueceu-senha {

   text-align: right;
    margin: 30px 0px;
    color: #6246EA;

}

.button-entrar {

    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

}

.button-entrar button {

    padding: 10px;
    background-color: #6246EA;
    border: 1px solid #4733ac;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;

}

.button-entrar button:hover {

    cursor: pointer;
    filter: brightness(0.90);

}

.cadastrar-conta {

    text-align: center;
    margin-top: 30px;
    color: #6246EA;

}

.formulario h2 {

    text-align: center;
    margin: 40px 0px;
    font-size: 30px;

}