@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #5757ff;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 0px 0px;
    height: 86.25vh;
    box-shadow: 10px 0px 2px rgb(238, 238, 238);
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
}

main {
    display: flex;
    height: auto;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
    display: flex;
}

.quem-somos-qual-objetivo {
    width: 80%;
    margin: auto;
}

.quem-somos {
    margin-bottom: 50px;
}

.quem-somos-qual-objetivo p {
    font-size: 14px;
    margin: 10px;
}

.quem-somos-qual-objetivo h2 {
    font-size: 25px;
}

footer {
    display: flex;
    border-radius: 10px 10px 0px 0px;
    background-color: #d4d4ff;
}

.espacar-header {
    margin-top: -3px;
    width: 183px;
    background-color: #d1d1e9;
}

.inner-header {
    display: flex;
    justify-content: space-evenly;
    background-color: #d4d4ff;
    width: 85%;
}

.contatar-mensagem-enviar h3 {
    margin: 10px 0px;
    font-size: 22px;
}

.mensagem-enviar {
    display: flex;
    gap: 20px;
}

.mensagem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mensagem label {
    font-weight: bold;
}

.mensagem textarea {
    height: 100px;
    width: 300px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.mensagem-enviar button {
    align-self: flex-end;
    margin-bottom: 20px;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #61e458;
}

.mensagem-enviar button:hover {
    cursor: pointer;
    filter: brightness(0.90);
}

.redes-socias {
    padding-top: 40px;
}

.redes ul {
    display: flex;
}

.redes li {
    width: 100px;
    all: unset;
    margin: 20px
}

.redes a {
    all: unset;
}

.redes a:hover {
    all: unset;
    cursor: pointer;
}

.redes img:hover {
    background-image: linear-gradient(to right, transparent, #d1d1e9, transparent);
    padding: 3px;
}

.perfil-configs p {
    font-size: 16px;
}

select:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.epc {
    height: 100px;
}

.sair:hover {
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 0.347), transparent);
    color: white;
}

.perfil-configs p {
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.perfil-configs img {
    border-radius: 50%;
    width: 50px;
    border: 3px double white;
}

.header-container h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}

.objetivo::before {
    content: url("imagens/info.svg");
}
