@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
}

.banner-esquerdo {
    background-color: lightgray;
    height: 100vh;
    width: 30%;
}

.banner-esquerdo h1 {
    text-align: center;
    padding-top: 70px;
}

.secao-principal {
    display: flex;
    margin: auto;
}

.formulario {
    background-color: #D3D3D3;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid black;
}

form {
    padding: 10px 0px;
}

h2 {
    text-align: center;
    margin: 20px;
}

.pessoa-juridica-fisica {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.juridica-fisica {
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: -1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.fisica {
    border-bottom: 1px solid black;
}

.fisica:hover {
    background-color: grey;
    color: white;
}

.separador {
    width: 100%;
    background-color: black;
    height: 1px;
}

.nome-telefone-cpf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cpf-telefone {
    display: flex;
    gap: 10px;
}

.razao, .fantasia {
    display: flex;
    flex-direction: column;
    width: 29vw;

}

.imagem-perfil {
    width: 12vw;
    border-radius: 10px;
    margin-right: 80px;
    margin-bottom: -80px;
    margin-top: 10px;
    height: 22vh;
    border: 1px solid grey;
}

.imagem-perfil img {
    width: 100%;
    height: 100%;
}

.div1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.div2 {
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    width: 55%;
}

.cnpj, .telefone {
    display: flex;
    flex-direction: column;
}

.cnpj input, .telefone input {
    width: 100%;
}

.div3 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.div4 {
    display: flex;
    padding: 0 10px;
    width: 100%;
}

.div4 .email input {
    width: 100%;
    justify-content: space-between;

}

.email-senha-confirmarsenha {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.senha-confirmarsenha {
    display: flex;
    gap: 10px;
}

.email, .senha, .confirmarsenha {
    display: flex;
    flex-direction: column;
}

.estado-cep-bairro-numero {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Espaçamento entre as linhas */
}
  
.estado-cep, .bairro-numero {
    display: flex;
    gap: 10px;  /* Espaçamento entre os campos dentro de cada linha */
}
  
.estado, .cep, .bairro, .numero {
    display: flex;
    flex-direction: column;
    flex: 1;  /* A princípio, todos os campos terão o mesmo tamanho */
  
}
  
.estado, .numero {
    flex: 1;
}

.bairro, .cep {
    flex: 2;
}

input {
    width: 100%;  /* Faz com que os inputs ocupem todo o espaço disponível dentro do seu contêiner */
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

.endereco-complemento-cidade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.complemento-cidade {
    display: flex;
    gap: 10px;
}

.endereco, .complemento, .cidade {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.avancar-cancelar {
    display: flex;
    flex-grow: none;
    margin-top: 80px;
    margin-left: 240px;
    gap: 10px;
}

.avancar-cancelar button, .avancar-cancelar a {
    border: none;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 12px;
}

.avancar-cancelar button:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

.salvar-cancelar button:hover, .salvar-cancelar a:hover {
    cursor: pointer;
    filter: brightness(0.95);
}