@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #d9d9d9;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: gray;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: gray;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    height: 105vh;
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
}

main {
    display: flex;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
}

.secao-principal {
    display: flex;
    padding-top: 40px;
}

.formulario {
    background-color: #D3D3D3;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
}

form {
    padding: 10px 0px;
}

h2 {
    text-align: center;
    margin: 20px;
}

.pessoa-juridica-fisica {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.juridica-fisica {
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: -1px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.fisica {
    border-bottom: 1px solid black;
}

.fisica:hover {
    background-color: grey;
    color: white;
}

.separador {
    width: 100%;
    background-color: black;
    height: 1px;
}

.nome-telefone-cpf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cpf-telefone {
    display: flex;
    gap: 10px;
}

.razao, .fantasia {
    display: flex;
    flex-direction: column;
    width: 29vw;

}

.imagem-perfil {
    width: 12vw;
    border-radius: 10px;
    margin-right: 80px;
    margin-bottom: -80px;
    margin-top: 10px;
    height: 22vh;
    border: 1px solid grey;
}

.imagem-perfil img {
    width: 100%;
    height: 100%;
}

.div1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.div2 {
    display: flex;
    padding: 5px 10px;
    gap: 10px;
    width: 55%;
}

.cnpj, .telefone {
    display: flex;
    flex-direction: column;
}

.cnpj input, .telefone input {
    width: 100%;
}

.div3 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.div4 {
    display: flex;
    padding: 0 10px;
    width: 100%;
}

.div4 .email input {
    width: 100%;
    justify-content: space-between;

}

.email-senha-confirmarsenha {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.senha-confirmarsenha {
    display: flex;
    gap: 10px;
}

.email, .senha, .confirmarsenha {
    display: flex;
    flex-direction: column;
}

.estado-cep-bairro-numero {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Espaçamento entre as linhas */
}
  
.estado-cep, .bairro-numero {
    display: flex;
    gap: 10px;  /* Espaçamento entre os campos dentro de cada linha */
}
  
.estado, .cep, .bairro, .numero {
    display: flex;
    flex-direction: column;
    flex: 1;  /* A princípio, todos os campos terão o mesmo tamanho */
  
}
  
.estado, .numero {
    flex: 1;
}

.bairro, .cep {
    flex: 2;
}

.input-form {
    width: 100%;  /* Faz com que os inputs ocupem todo o espaço disponível dentro do seu contêiner */
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
}

.endereco-complemento-cidade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.complemento-cidade {
    display: flex;
    gap: 10px;
}

.endereco, .complemento, .cidade {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.avancar-cancelar {
    display: flex;
    flex-grow: none;
    margin-top: 80px;
    margin-left: 240px;
    gap: 10px;
}

.avancar-cancelar button, .avancar-cancelar a {
    border: none;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 12px;
}

.avancar-cancelar button:hover {
    cursor: pointer;
}