@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #5757ff;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.selected-page:hover {
    cursor: auto;
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: #d1d1e9;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 10px 0px 2px rgb(238, 238, 238);
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
    filter: brightness(1);
}

main {
    display: flex;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
}

.cards-section-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.inner-card {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.card figure {
    width: 100%;
    height: 20vh;
}

.card img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.card-informations-1, .card-informations-2 {
    display: flex;
    gap: 10px;
    line-height: 1.5;
}

.card-informations-1 span, .card-informations-2 span {
    font-weight: bold;
}

.card-informations-row {
    height: 10px;
    width: 100%;
    background-color: white;
    margin: 3px 0px;
}

.dar-lance a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin: 10px auto;
    background-color: rgb(158, 158, 158);
    width: fit-content;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}

.adicionar-produto figure {
    display: flex;
    flex-direction: column;
}

.adicionar-produto img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.adicionar-produto a {
    padding: 50%;
    text-decoration: none;
}

.adicionar-produto p {
    color: black;
    font-size: 16px;
}

.categoria-row h2 {
    
    margin: 20px;
    text-align: center;
    color: #5757ff;

}

.categoria-row .row {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, #5757ff, transparent);
}

.iniciando-leilao {
    background-color: #d1d1e9;
    border: 1px solid #5757ff;
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgb(238, 238, 238);
}

.main-div-1, .main-div-2 {
    display: flex;
}

.nome-imagens-pracas-reducao-valorincremento {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iniciando-leilao h2 {
    text-align: center;
}

.iniciando-leilao input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.iniciando-leilao label {
    margin: 7px 0px;
    font-weight: bold;
}

textarea {
    height: 130px;
    padding: 10px;
    width: 30vw;
    border: none;
    border-radius: 10px;
}

.contato {
    margin-left: 20px;
}

.nome, .imagens, .pracas, .reducao, .valorincremento, .data-horario-inicio-final-diferenca, .d-h-inicio, .d-h-final, .diferenca-dias  {
    display: flex;
    flex-direction: column;
}

.pracas-reducao-valorincremento {
    margin-left: 20px;
}

.nome {
    width: 85%;
}

.pracas, .reducao {
    width: 60%;
}

.img-prv {
    display: flex;
}

.layer-1, .layer-2 {
    display: flex;
    height: 100%;
} 

.imagens {
    border-radius: 10px;
    overflow: hidden;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.observacoes-contato {
    display: flex;
    margin-top: 20px;
}

.observacoes, .contato {
    display: flex;
    flex-direction: column;
}

.aprovar-recusar {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 145px;
    left: 40px;
}

.aprovar-recusar button, a {
    font-weight: bold;
}

.aprovar-recusar button:hover, a:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.aprovar-recusar button, .aprovar-recusar a {
    background-color: white;
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
}

.aprovar-recusar button {
    background-color:  #61e458;
}

.aprovar-recusar a {
    background-color: #e45858;
}

.popup-container {
    display: none;
    position: absolute;
    bottom: -150px;
    left: 65vw;
    background-color: #d1d1e9;
    border: 1px solid #5757ff;
    border-radius: 10px;
    padding: 20px;
    z-index: 200;
    width: 300px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup-content label {
    margin-top: 10px;
    font-weight: bold;
}

.popup-content input,
.popup-content textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: none;
}

.popup-content .inputs-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.popup-content .inputs-row input {
    flex: 1;
    max-width: calc(50% - 5px); 
}

.popup-content textarea {
    width: 100%;
    max-width: 100%;
}

.popup-content button {
    padding: 8px 16px;
    background-color: #61e458;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content button:hover {
    filter: brightness(0.90);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.close-popup:hover {
    color: darkred;
}

.perfil-configs p {
    font-size: 16px;
}

select:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.epc {
    height: 20vh;
}

.sair:hover {
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 0.347), transparent);
    color: white;
}

.perfil-configs p {
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.perfil-configs img {
    border-radius: 50%;
    width: 50px;
    border: 3px double white;
}

.header-container h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}