@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}


header {
    background-color: #d9d9d9;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.selected-page {
    background-image: linear-gradient(to right, transparent, white, transparent);    
}

.header-container {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.header-container form {
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.barra-busca {
    display: flex;
}

.barra-busca input {
    width: 300px;
    border: none;
    border-left: 2px solid grey;
}

.barra-busca select {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.barra-busca button {
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: black;
    color: white;
}

.barra-busca button:hover {
    background-color: rgb(112, 112, 112);
    cursor: pointer;
}

.barra-busca button::before {
    content: url('../svg/lupa.svg');
    vertical-align: middle;
}

figure {
    display: flex;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

img {
    height: 50px;
}

form {
    background-color: white;
}

.nav-movel {
    background-color: gray;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.nav-estatica {
    background-color: gray;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    height: 110vh;
}

.nav-estatica a {
    color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.5;
    padding: 10px 50px;
}

nav a:hover {
    background-image: linear-gradient(to right, transparent, white, transparent);
}

main {
    display: flex;
    margin-top: 80px;
}

h3 {
   margin: 3px 0px 0px 0px; 
}

p {
    font-size: 12px;
}

.main-content {
    width: 100%;
}

.cards-section-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.inner-card {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.card figure {
    width: 100%;
    height: 20vh;
}

.card img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.card-informations-1, .card-informations-2 {
    display: flex;
    gap: 10px;
    line-height: 1.5;
}

.card-informations-1 span, .card-informations-2 span {
    font-weight: bold;
}

.card-informations-row {
    height: 10px;
    width: 100%;
    background-color: white;
    margin: 3px 0px;
}

.dar-lance a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin: 10px auto;
    background-color: rgb(158, 158, 158);
    width: fit-content;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}

.dar-lance a:hover {
    filter: brightness(0.9);
}

.adicionar-produto figure {
    display: flex;
    flex-direction: column;
}

.adicionar-produto img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.adicionar-produto figure:hover {
    background-image: linear-gradient(to right, transparent, lightgrey, transparent);
    padding: 3px;
}

.adicionar-produto a {
    text-decoration: none;
}

.adicionar-produto p {
    color: black;
    font-size: 16px;
}

.categoria-row h2 {
    
    margin: 20px;
    text-align: center;

}

.categoria-row .row {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, black, transparent);
}


.valor-contato {
    display: flex;
    gap: 10px;
}

.popup-content p {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.popup-container {
    display: none;
    position: absolute;
    bottom: -70px;
    left: 290px;
    background-color: #b7a9a9;
    border: 1px solid #ccc;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    padding: 20px;
    z-index: 200;
    width: 300px;
}

.popup-container-recusa {
    bottom: 40px;
    left: 63vw;
}

.popup-container-resultado {
    bottom: -55px;
    left: 27vw;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup-content label {
    margin-top: 10px;
    font-weight: bold;
}

.popup-content input,
.popup-content textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: none;
}

.popup-content .inputs-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.popup-content .inputs-row input {
    flex: 1;
    max-width: calc(50% - 5px); /* Para que cada input ocupe metade da linha */
}

.popup-content textarea {
    width: 100%;
    max-width: 100%;
}

.popup-content button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: rgb(219, 219, 219);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.close-popup:hover {
    
}

.popup-motivo-recusa {
    background-color: white;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.perfil-configs p {
    font-size: 16px;
}

select:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

